html, body {
	height: 100%;
	margin: 0px;
}

body {
	background: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
}

label{
	padding: 2vh 2vw 2vh 2vw;
}

.error {
	background-color:white;
	padding: 2vh 2vw 2vh 2vw;
	margin: 15px;
	color:red;
}

.icon {
	width: 32px;
	height: 32px;
}

.vwrapper {
	display: flex;
	flex-direction: column;
	height: 96vh;
	padding: 2vh 2vw 2vh 2vw;
}

/* bandeau-de-navigation */
.header {
	background-color: #f1f1f1;
	border-radius: 20px;
	overflow: hidden;
	padding: 20px 10px;
	margin-bottom: 15px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	text-decoration: none;
}

.header .logo {
	font-size: 25px;
	font-weight: bold;
	padding: 12px;
}

.header-link {
	background-color: lightblue;
	padding: 12px;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
	margin-right:12px;
}

.header-link:hover {
	background-color: dodgerblue;
	color: black;
}

.header-link.active {
	background-color: dodgerblue;
	color: white;
}

.header-right {
	float: right;
	margin-right: 20px;
}

/*bandeau-de-gauche*/
.side {
	width: 20%;
	margin-right: 20px;
	padding: 10px;

	background-color: #f1f1f1;
	border-radius: 20px;
}

/*milieu*/
.middle {
	width: 100%;
	flex: 2;
	display: flex;
	flex-grow: 1;
}

/*pied-de-page*/
.footer-left {
	float: right;
	margin-left: 20px;
}

.footer {
	background-color: #f1f1f1;
	border-radius: 20px;
	overflow: hidden;
	padding: 20px 10px;
	margin-top: 15px;
}

.footer-link {
	font-size: 1.3vw; 
	line-height: 25px;
	border-radius: 4px;
	margin:1vw;
	text-decoration:none; 
}

.footer-link:hover {
	background-color: dodgerblue;
	color: black;
}

.footer-link.active {
	background-color: dodgerblue;
	color: white;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

li a {
	display: block;
	color: #000;
	padding: 8px 8px;
	text-decoration: none;
}

li a.active {
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

.main {
	width: 80%;
	padding: 20px;
	padding-bottom: 0;
	flex-grow: 1;
	overflow-y: scroll;

	background-color: #f1f1f1;
	border-radius: 20px;
}

.home-articlelist {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.home-articlelist a {
	text-decoration: none;
	color: inherit;
}

.home-article {
	height: 250px;
	width: 250px;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 10px;
	align-items: center;
	text-align: center;
	background: lightgrey;
}

.home-article-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.article-main {
	display: flex;
	padding-bottom: 20px;
}

.article-image-container {
	flex-basis: 25%;
	flex-shrink: 0;
}

.article-image {
	width: 100%;
}

.article-body-container {
	padding: 10px;
	margin-left: 20px;
	flex-grow: 1;
	overflow: auto;
}

.article-body-container h2 {
	margin: 0;
}

.article-price-container {
	flex-basis: 20%;
	flex-shrink: 0;
	margin-left: 10px;
}

.article-price {
	font-size: 2vw;
	margin-bottom: 10px;
}

.article-image-container {
	flex-grow: 2;
}

.article-image-container img {
	width: 100%;
}

/* page login*/
.login-main {
	display: flex;
	padding-bottom: 20px;
}

.form-group{
	margin:15px;
}


/* fin page login*/
.basket-main {
	display: flex;
	flex-direction: column;
}

.basket-article-table {
	width: 100%;
	text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.subtable {
	margin-left: 10px;
}

.admin-sales-table {
	width: 100%;
	text-align: center;
}

/*
.basket-article-container {
	width: 100%;
	background: red;
	display: flex;
	flex-direction: row;
}

.basket-article-name-container {
	flex: 50%;
	background: blue;
}

.basket-article-price-container {

	background: green;
}

.basket-article-quantity-container {

	background: blue;
}

.basket-article-trash-container {

	background: yellow;
	}*/

	.half-column {
		flex: 50%;
		text-align: center;
	}

	.split-right {
		border-right: 1px solid black;
	}